h1{
    color: #ffffff
}
body{
    background-image: url(image.jpg)
}
p{
    color: #ffffff
}
p{
    padding: 0px 40px 0px 40px
}
p{ 
    text-align: justify
}
h4{
   color: #ffffff
}
h4{
    padding-left: 1250px
}
ul{
    color: #ffffff
}
ul{
    padding-left: 650px
}
h2{
    color: #ffffff
}